---
// Ejemplo para src/pages/solutions.astro
import Layout from '../layouts/Layout.astro';
---
<Layout title="Approach">
  <h1>Approach</h1>
  <p>Content about our approach on AI solutions will go here.</p>
  {/* En resources.astro, añade enlaces a /blog y /tools */}
  {/* En blog/index.astro, lista de posts (futuro) */}
  {/* En tools.astro, contenido sobre herramientas */}
  {/* En contact.astro, formulario de contacto (futuro) */}
</Layout>